<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Könyv katalógus létrehozás</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <h3 class="pt-5">Könyv katalógus létrehozás</h3>

    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post"
                  th:action="@{/create}">
                <div class="form-group">
                    <label for="name">Könyv katalógus létrehozás</label>
                </div>
                <div class="form-group">
                    <label for="writer">Író</label>
                    <input type="text"
                           id="writer"
                           th:name="writer"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="genre">Típus</label>
                    <input type="text"
                           id="genre"
                           th:name="genre"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="releasedate">Kiadás dátuma</label>
                    <input type="text"
                           id="releasedate"
                           th:name="releasedate"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="pages">Oldalszám</label>
                    <input type="text"
                           id="pages"
                           th:name="pages"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="name">Cím</label>
                    <input type="text"
                           id="name"
                           th:name="name"
                           class="form-control"/>
                </div>

                <button class="btn btn-primary pt-2"
                        type="submit">Létrehoz
                </button>
                <a th:href="@{/list.html}"
                   class="btn btn-secondary pt-2"
                   type="submit">Vissza a listához</a>
            </form>
        </div>
    </div>

</div>

<script>

</script>

</body>
</html>